{% extends 'layout.html' %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <form action="/" method="POST" id="grandparent-relationship">
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Did your relationship commence before 1 January 2021?
            </h1>
          </legend>

          <div class="nhsuk-radios">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="grandparent-relationship-yes" name="grandparent-relationship" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="grandparent-relationship-yes">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="grandparent-relationship-no" name="grandparent-relationship" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="grandparent-relationship-no">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>
    <button class="nhsuk-button" type="submit" id="continueButton">Continue</button>
    </form>
  </div>
</div>
{% endblock %}