{% extends 'layout.html' %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Applying for an EHIC
      </h1>

      <p>
        You are eligible for a UK-issued EHIC as you're told us that:
      </p>

      <ul>
        <li>
          you are an EEA, Swiss or dual national
        </li>
        <li>
          you were resident in the UK before 1 January 2021
        </li>
        <li>
          you are not studying or do not plan to study in the EEA or Switzerland before 1 January 2021
        </li>
      </ul>

      <p>
          You can also apply for eligible family members if they meet certain criteria
      </p>

      <h2>
          Next Steps
      </h2>

      <p>
          During your application we will ask you to provide the following information which we will use to confirm your UK residency:
      </p>

      <ul>
          <li>
              your NHS Number, if you know it
          </li>
          <li>
              your gender
          </li>
      </ul>

      <a href="#" class="nhsuk-button nhsuk-u-margin-bottom-8" id="start-application">
        Continue
      </a>

    </div>

  </div>
{% endblock %}