{% extends 'layout.html' %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="/" method="POST" id="grandparent-nationality">
        <div class="nhsuk-form-group">
  
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                What is <span id="grandparent-name">(grandparent's name)</span> nationality?
              </h1>
            </legend>
  
            <div class="nhsuk-radios">
  
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="grandparent-nationality-uk" name="grandparent-nationality" type="radio" value="uk">
                <label class="nhsuk-label nhsuk-radios__label" for="grandparent-nationality-uk">
                  UK national
                </label>
              </div>
  
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="grandparent-nationality-eu" name="grandparent-nationality" type="radio" value="eu">
                <label class="nhsuk-label nhsuk-radios__label" for="grandparent-nationality-eu">
                  EU, Switzerland, Norway, Iceland and Liechtenstein national
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="grandparent-nationality-other" name="grandparent-nationality" type="radio" value="other">
                <label class="nhsuk-label nhsuk-radios__label" for="grandparent-nationality-other">
                  Other
                </label>
              </div>
  
            </div>
          </fieldset>
        </div>
      <button class="nhsuk-button" type="submit" id="continueButton">Continue</button>
      </form>
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="#" id="backButton">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Change my previous answer</a>
      </div>
    </div>
  </div>
{% endblock %}