{% extends 'layout.html' %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
<div class="nhsuk-width-container">
  <div class="nhsuk-phase-banner-width">
    <p class="nhsuk-phase-banner__content">
      <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="nhsuk-phase-banner__text">
        This is a prototype – your <a class="nhsuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
</div>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-tow-thirds">
    
    <h1 class="nhsuk-u-margin-top-4">
      Check your answers
    </h1>

    <h2>
      Your spouse or civil partner's details
    </h2>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Home Address
        </dt>
        <dd class="nhsuk-summary-list__value">
          73 Roman Rd<br>Leeds<br>LS2 5ZN
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> address</span>
          </a>
    
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Full name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Mark Francis
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> full name</span>
          </a>
    
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date of Birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          27 November 1984
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
          </a>
    
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Nationality
        </dt>
        <dd class="nhsuk-summary-list__value">
          EEA or Swiss
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> nationality</span>
          </a>
    
        </dd>
    
      </div>
    
    </dl>
    <a href="#" class="nhsuk-button">
      Continue
    </a>
  </div>
</div>
{% endblock %}
